@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-color: #cdffd4;
}

.container {
  text-align: center;
}

h1 {
  color: #00a516;
}

p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1.5rem;
}

label {
  display: block;
  font-size: 1.5rem;
  margin: 1rem;
}

input {
  display: block;
  font-size: 1.5rem;
  margin: auto;
  padding: 0.5rem 1rem;
  border: 3px solid #00a516;
  border-radius: 12px;
}

button {
  font-size: 1rem;
  margin: 1.5rem;
  padding: 0.5rem 1rem;
  color: #ffffff;
  background-color: #00a516;
  border: 1px solid #00a516;
  border-radius: 12px;
}

caption {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem;
}

table {
  margin: auto;
  border-collapse: collapse;
}

th,
td {
  font-size: 1.2rem;
  border: 2px solid #00a516;
  border-collapse: collapse;
  padding: 0.5rem;
}
